//Breakpoints
$xs-scrn: 600px;
$sm-scrn: 710px;
$md-scrn: 1000px;
$lg-scrn: 1190px;

//Colors
$main-white: white;
$dark-gray: darkgray;
$border-color: #c3c3c3;
$base-font-color: #2c3e50;
$link-active-color: #3eac7a;

//Misc
$widget-border-radius: 15px;